<div *ngIf="userProfile">
    <h1>Welcome, {{ userProfile.firstName }} {{ userProfile.lastName }}!</h1>
    <p>Email: {{ userProfile.email }}</p>
    <p>Username: {{ userProfile.username }}</p>

    <button (click)="logout()">Logout</button>
    <button (click)="goToUserConfiguration()">My Configurations</button>

    <p *ngIf="!hasConfiguration">You have not created any configuration yet.</p>


    <!-- Przyciski dostępne tylko dla administratorów -->
    <button *ngIf="userProfile.role === 'ADMIN'" (click)="goToAddItem()">Add Item</button>
    
  </div>