<form>
    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Enter your email address" required>
    <input type="text" [(ngModel)]="user.username" name="username" placeholder="Enter your username" required>
    <input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="Enter your first name" required>
    <input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Enter your last name" required>
    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Enter your password" required>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repeat your password" required>
    <button type="button" (click)="validate()">Register</button>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </form>
  